<footer>
    <div class="footer-flex">
    <div class="about">
        <h3>About</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione repudiandae explicabo rerum, quibusdam veniam debitis obcaecati nesciunt. Eum non labore sit quas tempore aliquam at, quam autem quia voluptates?</p>
  <ul class="icons">
   <a href=""> <li class="facebook"><i class="fa-brands fa-facebook"></i></li></a>
   <a href=""><li class="twitter"><i class="fa-brands fa-twitter"></i></li></a>
   <a href=""> <li class="instagram"><i class="fa-brands fa-instagram"></i></li></a>
  </ul>
  </div>
    <div class="contact">
        <ul class="contact-info">
        <li>
            <i class="fa-solid fa-house"></i>
            <p>Lorem ipsum dolor sit.</p>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-envelope"></i>
            <p>nada.moumen2002@gmail.com</p></a>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-phone"></i>
            <p>98767656787</p></a>
        </li>
    </ul>
    </div>
  </div>
    <div class="copy-right">
        © 2021 Copyright: Nada Mo'men
      </div>
  </footer>
